<div class="row-fluid text-right">
  {{#link-to "snow.apps/new" class="btn btn-default"}}Register App{{/link-to}}
</div>

<div class="row-fluid dashboard">
  {{#each app in apps}}
    <div class="col-md-3 app-slot">
      <h4>
        {{#link-to "snow.apps/show" app.id}}{{app.name}}{{/link-to}}
        <small class="pull-right">
          {{#link-to "snow.apps/edit" app}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
          <a href="#" {{action "destroy" app}}><span class="glyphicon glyphicon-trash"></span></a>
        </small>
      </h4>
      <table class="table table-striped">
        <tr>
          <th colspan="2">Requests</th>
        </tr>
        <tr>
          <td>
            <b>Today</b><br>
            {{#if app.requests.today}}{{app.requests.today.count}}{{else}}-{{/if}}
          </td>
          <td class="yesterday">
            <b>Yesterday</b><br>
            {{#if app.requests.yesterday}}{{app.requests.yesterday.count}}{{else}}-{{/if}}
          </td>
        </tr>
      </table>
    </div>
  {{else}}
    <div>&nbsp;</div>
    <h1 class="text-center">
      You don't track any app yet, {{#link-to "snow.apps/new"}}register one{{/link-to}}.
    </h1>
  {{/each}}
</div>
