<ol class="breadcrumb">
  <li>{{#link-to "reports/index"}}Reports{{/link-to}}</li>
  <li class="active">{{at}}</li>
</ol>

<div class="table-responsive">
<table class="table">
  <tr>
    <th>Name</th>
    <th>Min</th>
    <th>Avg</th>
    <th>Max</th>
    <th>Count</th>
  </tr>
  {{#each record in parsedReport}}
    <tr>
      <td>{{record.name}}</td>
      <td>{{record.min}}</td>
      <td>{{record.avg}}</td>
      <td>{{record.max}}</td>
      <td>{{record.count}}</td>
    </tr>
  {{/each}}
</table>
</div>
