<div class="row-fluid text-right">
  {{#link-to "hg_metrics.new" class="btn btn-default"}}Add HG Metric{{/link-to}}
</div>

{{#if model.hgNonDeployMetric}}
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Metric Name</th>
          <th>Kind</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each hgMetric in model.hgNonDeployMetric}}
          <tr>
            <td>{{link-to hgMetric.name "hg_metrics.show" model hgMetric}}</td>
            <td>{{hgMetric.metricName}}</td>
            <td>{{hgMetric.kind}}</td>
            <td>
              {{#link-to "hg_metrics.edit" model hgMetric}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
              <a href="#" {{action "destroy" hgMetric}}><span class="glyphicon glyphicon-trash"></span></a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{else}}
  <div class="row-fluid">
    <div>&nbsp;</div>
    <h1 class="text-center">
      You haven't any metrics yet, {{#link-to "hg_metrics.new" model}}add the first{{/link-to}}.
    </h1>
  </div>
{{/if}}
