<div class="row-fluid">
  <ol class="breadcrumb">
    <li>{{link-to "HG Metrics" "hg_metrics" app}}</li>
    <li class="active">{{model.name}}</li>
  </ol>
</div>

<div class="row-fluid">
  {{add-check hgMetric=model}}
</div>

<div class="row-fluid">
  {{graphite-graph hgMetric=model hgDeployMetric=app.hgDeployMetric hgKey=hgKey duration="24h"}}
  {{graphite-graph hgMetric=model hgDeployMetric=app.hgDeployMetric hgKey=hgKey duration="1h"}}
</div>

