<div class="row-fluid">
  <ol class="breadcrumb">
    <li>{{link-to "HG Metrics" "hg_metrics" app}}</li>
    <li class="active">{{model.name}}</li>
  </ol>
</div>

<div class="row-fluid">
  {{graphite-graph hgMetric=model hgDeployMetric=app.hgDeployMetric hgKey=hgKey duration="24h"}}
  {{graphite-graph hgMetric=model hgDeployMetric=app.hgDeployMetric hgKey=hgKey duration="1h"}}
</div>

{{#if model.checks}}
  <div class="table-response">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Check</th>
        </tr>
      </thead>
      <tbody>
        {{#each check in model.checks}}
          <tr>
            <td>{{render "checks/human" check}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}

<div class="row-fluid">
  {{render "checks/add" model}}
</div>

