{{#if requests.total.count}}
  <div class="page-header">
    <h1>{{name}}</h1>
  </div>

  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#info" role="tab" data-toggle="tab">Info</a></li>
      <li role="presentation"><a href="#install" role="tab" data-toggle="tab">Install</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="info">
        <div>&nbsp;</div>
        {{partial "snow/apps/info"}}
      </div>
      <div role="tabpanel" class="tab-pane" id="install">
        <div>&nbsp;</div>
        {{partial "snow/apps/install"}}
      </div>
    </div>
  </div>

{{else}}
  <div class="page-header">
    <h1>{{name}} - Installation</h1>
  </div>
  {{partial "snow/apps/install"}}
{{/if}}

