<ol class="breadcrumb">
  <li>{{#link-to "apps/index"}}Apps{{/link-to}}</li>
  <li class="active">{{app.name}}</li>
</ol>

<p>
  <a href="#" class="btn btn-danger" {{action "destroy"}}>Delete</a>
</p>
{{log model}}

<h2>Installation</h2>

<h4>1. Add snowagent to application Gemfile</h4>
<code>
gem 'snowagent'
</code>

<h4>2. Configure application</h4>
<b>Heroku:</b>
<pre>
heroku config:set \
  SNOWMANIO_SERVER={{info.base_url}} \
  SNOWMANIO_SECRET_TOKEN={{app.token}}
</pre>
