<div class="page-header">
  <h1>{{app.name}}</h1>
</div>

<div class="row-fluid app-slot">
  <table class="table table-striped" style="width:30%">
    <tr>
      <th colspan="2">Requests</th>
    </tr>
    <tr>
      <td>
        <b>Today</b><br>
        {{#if app.requests.today}}{{app.requests.today.count}}{{else}}-{{/if}}
      </td>
      <td>
        <b>Yesterday</b><br>
        {{#if app.requests.yesterday}}{{app.requests.yesterday.count}}{{else}}-{{/if}}
      </td>
    </tr>
  </table>
</div>


<h2>Installation</h2>

<h4>1. Add snowagent to application Gemfile</h4>
<code>
gem 'snowagent'
</code>

<h4>2. Configure application</h4>
<b>Heroku:</b>
<pre>
heroku config:set \
  SNOWMANIO_SERVER={{info.base_url}} \
  SNOWMANIO_SECRET_TOKEN={{app.token}}
</pre>

<b>Standalone:</b>
<pre>
TODO: add description
</pre>

{{#if isDevelopment}}
  <h2>Send Test Request</h2>
<pre>
curl {{info.base_url}}/agent/metrics -d '{"token":"{{app.token}}","metrics":[{"name":"request","value":0.15,"kind":"request"}]}'
</pre>
{{/if}}
