<div class="page-header">
  <h1>
    {{model.name}}
    <small>{{#link-to "apps.edit" model}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}</small>
  </h1>
</div>

<div role="tabpanel">
  <ul class="nav nav-tabs" role="tablist">
    {{#if model.requests.total.count}}
      <li class="active"><a href="#info" data-toggle="tab">Info</a></li>
    {{/if}}
    <li {{bind-attr class="model.requests.total.count::active"}}><a href="#install" data-toggle="tab">Install</a></li>
    {{#if isHgEnabled}}
      <li><a href="#hg" data-toggle="tab">Add HG Metric</a></li>
    {{/if}}
  </ul>

  <div class="tab-content">
    {{#if model.requests.total.count}}
      <div class="tab-pane active" id="info">
        <div>&nbsp;</div>
        {{partial "apps/info"}}
      </div>
    {{/if}}
    <div {{bind-attr class=":tab-pane model.requests.total.count::active"}} id="install">
      <div>&nbsp;</div>
      {{partial "apps/install"}}
    </div>
    {{#if isHgEnabled}}
      <div class="tab-pane" id="hg">
        <div>&nbsp;</div>
        {{partial "apps/new_hg_metric"}}
      </div>
    {{/if}}
  </div>
</div>
