<ol class="breadcrumb">
  <li>{{#link-to "collectors/index"}}Collectors{{/link-to}}</li>
  <li class="active">#{{model.id}}</li>
</ol>

<p>
  {{#link-to "collectors/edit" model classNames="btn btn-primary"}}edit{{/link-to}}
  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#destroyModal">
    destroy
  </button>
</p>

<div class="table-responsive">
<table class="table" style="width:auto">
  <tr>
    <th>ID</th>
    <td>{{model.id}}</td>
  </tr>

  <tr>
    <th>Kind</th>
    <td>{{model.kind}}</td>
  </tr>

  <tr>
    <th>HG Metric</th>
    <td>{{model.hgMetric}}</td>
  </tr>
</table>
</div>

<div class="modal fade" id="destroyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Destroy Confirmation</h4>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" {{action "destroy"}}>Destroy</button>
      </div>
    </div>
  </div>
</div>
