{{#if isSupported}}
  {{#if collapsed}}
    <a href="#" {{action "add"}}>Add Check</a>
  {{else}}
    <span>Add Check</span> - <a href="#" {{action "cancel"}}>Cancel</a>
    <div class="well">
      <form class="form-inline">
        Snowman, notify when <b>{{hgMetric.name}}</b> will be 
        <div class="btn-group">
          <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
            {{cmp}} <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" {{action "clickMore"}}>more</a></li>
            <li><a href="#" {{action "clickLess"}}>less</a></li>
          </ul>
        </div>
        {{input value=value class="form-control input-sm"}}.
        <a href=# class="btn btn-sm btn-success" {{action "save"}}>add</a>
      </form>
    </div>
  {{/if}}
{{/if}}
