{{#if model.checks}}
  <div class="table-response">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Check</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{#each check in model.checks}}
          {{render "checks/show" check}}
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}

{{#if isChecksSupported}}
  <div class="row-fluid">
    {{#if collapsed}}
      <a href="#" {{action "toggle"}}>Add Check</a>
    {{else}}
      <a href="#" {{action "toggle"}}>Cancel</a>
      <div class="well">
        {{render "checks/form" newCheck}}
      </div>
    {{/if}}
  </div>
{{/if}}
