<tr>
  <td>
    {{#if isEditing}}
    {{else}}
      {{render "checks/human" model}}
    {{/if}}
  </td>
  <td>{{model.triggered}}</td>
  <td>
    <a href="#" {{action "edit"}}><span class="glyphicon glyphicon-pencil"></span></a>
    <a href="#" {{action "destroy"}}><span class="glyphicon glyphicon-trash"></span></a>
  </td>
</tr>
