<tr {{bind-attr class="model.triggered:danger"}}>
  <td>
    {{#if editing}}
      {{render "checks/form" model}}
    {{else}}
      {{render "checks/human" model}}
    {{/if}}
  </td>
  <td>{{model.triggered}}</td>
  <td>
    {{#unless editing}}
      <a href="#" {{action "edit" model}}><span class="glyphicon glyphicon-pencil"></span></a>
      <a href="#" {{action "destroy" model}}><span class="glyphicon glyphicon-trash"></span></a>
    {{/unless}}
  </td>
</tr>
