<% content_for :header do %>
  <tr>
    <td class="alert alert-good">
      SnowmanIO: <%= @at.strftime("%Y-%m-%d") %>
    </td>
  </tr>
<% end %>

<table width="100%" cellpadding="0" cellspacing="0">
  <% if @alerts.present? %>
    <tr><td class="content-block">
      <h3>Hi there, It is snowbot. I found some alerts that you might be interesting about:</h3>
    </td></tr>

    <% @alerts.values.flatten.each do |alert| %>
      <tr><td class="content-block">
        <%= alert.message %>
      </td></tr>
    <% end %>

    <tr><td class="content-block">
      You can go to <a href="#">dashboard</a> and get more details about alerts or disable them.
    </td></tr>
  <% end %>

  <% @report[:apps].each do |app| %>
    <tr><td class="content-block header"><%= app[:name] %></td></tr>
    <tr><td class="content-block">
      <table width="100%" cellpadding="0" cellspacing="0" class="app-stats">
        <tr>
          <th class="first"></th>
          <th>Today</th>
          <th>Yesterday</th>
        </tr>
        <tr>
          <td>Requests</td>
          <td class="value">
            <%= app["today"].try(:[], "count") || "-" %>
            <% if app.key?("today") && app.key?("yesterday") %>
              <% if app["today"]["count"] > app["yesterday"]["count"] %>
                <span class="neutral">&#x25B2;</span>
              <% elsif app["today"]["count"] == app["yesterday"]["count"] %>
                <span class="white">&#x25BC;</span>
              <% else %>
                <span class="neutral">&#x25BC;</span>
              <% end %>
            <% else %>
              <span class="white">&#x25B2;</span>
            <% end %>
          </td>
          <td class="value"><%= app["yesterday"].try(:[], "count") || "-" %></td>
        </tr>
      </table>
    </td></tr>
  <% end %>
</table>
