{{#if model.requests.total.count}}
  <div class="row-fluid app-slot">
    <table class="table table-striped" style="width:30%">
      <tbody>
        <tr>
          <th colspan="2">Requests</th>
        </tr>
        <tr>
          <td>
            <b>Today</b><br>
            {{#if model.requests.today}}{{model.requests.today.count}}{{else}}-{{/if}}
          </td>
          <td>
            <b>Yesterday</b><br>
            {{#if model.requests.yesterday}}{{model.requests.yesterday.count}}{{else}}-{{/if}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{{/if}}

{{#if model.hgMetrics}}
  <div class="row-fluid">
    {{#each hgMetric in model.hgMetrics}}
      {{#unless hgMetric.isDeploy}}
        <div>
          <h4>{{hgMetric.name}}</h4>
          {{graphite-graph hgMetric=hgMetric hgDeployMetric=model.hgDeployMetric hgKey=hgKey duration="24h"}}
          {{graphite-graph hgMetric=hgMetric hgDeployMetric=model.hgDeployMetric hgKey=hgKey duration="1h"}}
          <div class="pull-right">
            {{#link-to "apps.show.edit_hg_metric" model hgMetric}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
            <a href="#" {{action "hgDestroy" hgMetric}}><span class="glyphicon glyphicon-trash"></span></a>
          </div>
        </div>
      {{/unless}}
    {{/each}}
  </div>
{{/if}}
