{{#if model.metrics.length }}
  <div class="row-fluid app-slot">
    <table class="table table-striped" style="width:30%">
      <tbody>
        <tr>
          <th colspan="2">Requests</th>
        </tr>
        <tr>
          <td>
            <b>Today</b><br>
            {{#if model.requests.today}}{{model.requests.today.count}}{{else}}-{{/if}}
          </td>
          <td>
            <b>Yesterday</b><br>
            {{#if model.requests.yesterday}}{{model.requests.yesterday.count}}{{else}}-{{/if}}
          </td>
        </tr>
        <tr>
          <td colspan="2">
            {{model.metricsAmountHuman}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{{else}}
  {{partial "apps/show/install"}}
{{/if}}
