<form class="form-horizontal">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-6">
      {{input value=name placeholder="for example 'Amount of Users'" id="name" class="form-control"}}
    </div>
  </div>

  <div class="form-group">
    <label for="metricName" class="col-sm-2 control-label">HG Metric Name</label>
    <div class="col-sm-6">
      {{input value=metricName placeholder="for example 'apps.facebook.users'" id="metricName" class="form-control"}}
    </div>
  </div>

  <div class="form-group">
    <label for="kind" class="col-sm-2 control-label">Metric Kind</label>
    <div class="col-sm-6">
      {{view "select" content=availableKinds value=kind classNames="ember-select form-control"}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" {{action "save"}} {{bind-attr class=":btn :btn-info isFormValid::disabled"}}>Save{{#if saving}} ...{{/if}}</button>
    </div>
  </div>
</form>
