<div class="row-fluid">
  <ol class="breadcrumb">
    <li>{{link-to "Metrics" "metrics" app}}</li>
    <li class="active">{{model.name}}</li>
  </ol>
</div>

{{#if model.isAmount }}
  Last value: {{model.last_value}} at {{moment model.updated_at}}
{{/if}}

<div class="row-fluid">
  {{#if model.isSourceHg}}
    {{graphite-graph hgMetric=model hgDeployMetric=app.hgDeployMetric hgKey=hgKey duration="24h"}}
    {{graphite-graph hgMetric=model hgDeployMetric=app.hgDeployMetric hgKey=hgKey duration="1h"}}
  {{else}}
    {{#if model.isTime}}
      {{snowman-graph metric=model target="avg"}}
      {{snowman-graph metric=model target="count"}}
    {{/if}}
  {{/if}}
</div>

{{render "checks/index" model}}
