<ol class="breadcrumb">
  <li>{{#link-to "metrics/index"}}Metrics{{/link-to}}</li>
  <li class="active">{{name}}</li>
</ol>

<div class="table-responsive">
<table class="table" style="width:auto">
  <tr>
    <th>App</th>
    <td>{{app.name}}</td>
  </tr>

  <tr>
    <th>Name</th>
    <td>{{name}}</td>
  </tr>

  <tr>
    <th>Last Value</th>
    <td>{{lastValueHuman}}</td>
  </tr>

  <tr>
    <th>Month / Day / Now</th>
    <td>{{small-trend trend=trend}}</td>
  </tr>
</table>
</div>
