<p>{{#link-to "checks"}}back{{/link-to}}</p>
<p><b>Key:</b> {{model.id}}</p>
<p><b>Count:</b> {{model.count}}</p>
<p>
  <b>Status:</b>
  <span {{bind-attr class=":label model.isFailed:label-danger:label-success"}}>{{model.status}}</span>
</p>
{{#if model.isFailed}}
  <p><a href="#" {{bind-attr class=":btn :btn-sm :btn-primary resolveInProgress:disabled"}} {{action 'resolve'}}>Resolve</a></p>
{{/if}}
