<div class="row-fluid text-right">
  {{#link-to "apps/new" class="btn btn-default"}}Register App{{/link-to}}
</div>

<div class="row-fluid dashboard">
  <div class="col-md-3 metrics">
    <h4>Metrics</h4>
    <div class="big">{{dashboard.metrics.today}}</div>
    <div>total: {{dashboard.metrics.total}}</div>
  </div>

  {{#each app in apps}}
    <div class="col-md-3 app-slot">
      <h4>
        {{#link-to "apps/show" app.id}}{{app.name}}{{/link-to}}
        <small class="pull-right">
          {{#link-to "apps/edit" app}}<span class="glyphicon glyphicon-pencil"></span>{{/link-to}}
          <a href="#" {{action "destroy" app}}><span class="glyphicon glyphicon-trash"></span></a>
        </small>
      </h4>
      <table class="table table-striped">
        <tr>
          <th colspan="2">Requests</th>
        </tr>
        <tr>
          <td>
            <b>Yesterday</b><br>
            {{#if app.requests.yesterday}}
              {{app.requests.yesterday.count}}<br>
              {{app.requests.yesterday.duration}}&nbsp;sec
            {{/if}}
          </td>
          <td>
            <b>Today</b><br>
            {{#if app.requests.today}}
              {{app.requests.today.count}}<br>
              {{app.requests.today.duration}}&nbsp;sec
            {{/if}}
          </td>
        </tr>
      </table>
    </div>
  {{/each}}
</div>
