<div class="row dashboard">
  <div class="col-md-3 metrics">
    <h3>Today Metrics</h3>
    <div class="big">{{dashboard.metrics.today}}</div>
    <div>total: {{dashboard.metrics.total}}</div>
  </div>

  {{#each app in apps}}
    <div class="col-md-3 app-slot">
      <h4>{{app.name}}</h4>
      <div>Controllers: {{app.controllers}}</div>
      <div>Models: {{app.models}}</div>
      <table class="table">
        <tr>
          <th colspan="2">Requests</th>
        </tr>
        <tr>
          <td>
            <b>Yesterday</b><br>
            {{#if app.requests.yesterday}}
              {{app.requests.yesterday.count}}<br>
              {{app.requests.yesterday.duration}} secs
            {{/if}}
          </td>
          <td>
            <b>Today</b><br>
            {{#if app.requests.today}}
              {{app.requests.today.count}}<br>
              {{app.requests.today.duration}} secs
            {{/if}}
          </td>
        </tr>
      <table>
    </div>
  {{/each}}
</div>
